body{
        margin:0;
        padding:0;
        line-height: 1.5em;
	font-family: sans-serif;
	font-size: 1.5em;
	font-style: normal;
	font-variant: normal;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
       width: 840px; /*Width of main container*/
       margin: 0 auto; /*Center container on page*/
}

#topsection{
       height: 60px; /*Height of top section*/
}

#topsection h1{
       margin: 0;
       padding-top: 10px;
}

#contentwrapper{
       float: left;
       width: 100%;       
}

#contentcolumn{
        margin-left: 210px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
	float: left;
	text-align: center;	
 	width: 200px; /*Width of left column*/
	margin-left: -840px; /*Set left margin to -(MainContainerWidth)*/
	/* background: #C8FC98; */
	font-size: 12px;
	font-weight: normal;
	background-color:#ffffff;
	height:100%;
	text-decoration: none;
}


#leftcolumn .innertube{
   background-color: #cccccc;
   margin-top:0px;
   margin-bottom:0px;
   margin-left:0px;
   margin-right:0px;
   padding-top:5px;
   padding-bottom:5px;  
}

#leftcolumn .innertube_high{
   background-color: #999999;
   margin-top:0px;
   margin-bottom:0px;
   margin-left:0px;
   margin-right:0px;
   font-weight: bold;   
   padding-top:5px;  
   padding-bottom:5px;  
}

#footer{
	clear: left;
	width: 100%;
	background: black;
	color: #FFF;
	text-align: center;
	padding: 4px 0;
}

#footer a{
	color: #FFFF80;
}

  A:link { text-decoration: none;}
  A:visited { text-decoration: none;}
  A:hover   { text-decoration:underline;}
<!--
  p,br,body,table,td,select,input,form,textarea,option { font-family:Verdana;  line-height:13pt;  color: #000000; font-size:9pt; text-decoration:none;}
	.SMALL	{ font-family:Verdana;  line-height:11pt;  font-size:7pt; text-decoration:none;}
	.ENGLISH	{ font-family:Verdana;  line-height:13pt;  font-size:9pt; text-decoration:none; letter-spacing:-1px}
	.SPACE	{ font-family:Verdana;  line-height:13pt;  font-size:9pt; text-decoration:none; letter-spacing:-1px}
	.BOARD	{ font-family:Verdana;  line-height:13pt;  font-size:7pt; text-decoration:none;}
-->

.firstDivTag {
	width:600px;left:0px;top:0px;
}

.fieldsetTag {
	PADDING:5;position: fixed;
}

.legendTag {
	font : 800 9pt;width:600px;
}

.legendLookTag {
	cursor:pointer;
	border: 1px solid #00f;
	border-width: 1px 1px 0px 1px;
	border-color: #999;
	background: #eee;
	padding: 6px;
	float: left;
	
}
.legendLookTagSel {
	cursor:pointer;
	border: 0px solid #ccc;
	border-width: 1px 1px 0 1px;
	background: #ccc;
	padding: 6px;
	float: left;	
	display:inline;
}
.divTableTag{
	background: #ccc; width: 630px;
}
.tableTag {
	align:left;float: left;
}

.hideDateRangeTag {
	display:none;
}	
.showDateRangeTag {
	display:table-row;
}	


.hideDebitTr {
	display:none;
}
.showDebitTr {
	display:table-row;
}

.hideCreditTr {
	display:none;
}
.showCreditTr {
	display:table-row;
}


.hideContraTr {
	display:none;
}
.showContraTr {
	display:table-row;
}

.hideAmountTr {
	display:none;
}
.showAmountTr {
	display:table-row;
}

.hideDescriptionTr {
	display:none;
}
.showDescriptionTr {
	display:table-row;
}

.hideSaveDayBookButton {
	display:none;
}
.showSaveDayBookButton {
	display:table-row;
}

.hideSearchDayBookButton {
	display:none;
}
.showSearchDayBookButton {
	display:table-row;
}

.hideViewLedgerButton {
	display:none;
}
.showViewLedgerButton {
	display:table-row;
}

.hideViewTrialBalanceButton {
	display:none;
}
.showViewTrialBalanceButton {
	display:table-row;
}

.hideViewBalanceSheetButton {
	display:none;
}
.showViewBalanceSheetButton{
	display:table-row;
}

.hideDisplayAccountDetails {
	display:none;
}
.showDisplayAccountDetails{
	display:block;background:#cccccc;padding-left:20px;border:2px solid black;width:700px;
}

.showDisplayAccountDetails h2{ 
	font:14px;font-family:verdana;margin:2px 0 0 0;font-weight:bold;border-bottom:1px solid red;width:150px;
}

.displayAccountDetails {
	display:none;
}


.debitTag {
	background:#ffffff;width:200px;height:200px;overflow:auto;display:none;
}

.creditTag {
	background:#ffffff;width:200px;height:200px;overflow:auto;display:none;
}

td {text-align:right}

.trading td{width : 200px;}
.pl td {width : 200px;}
.bs td {width : 200px;}
	